<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - carinoga.web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1><a asp-page="/Index">Cari Noga, author</a></h1>
        <nav>
            <ul>
                <li><a href="#">Bio</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Autism Reads</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Book Clubs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        &copy; 2023 - carinoga.web - <a asp-page="/Privacy">Privacy</a>
    </footer>

    <script src="https://kit.fontawesome.com/70236ac939.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>