<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - carinoga.web</title>
    <link rel="stylesheet" href="~/lib/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/css/brands.css" />
    <link rel="stylesheet" href="~/lib/css/solid.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1><a asp-page="/Index">Cari Noga, author</a></h1>
        <nav>
            <ul>
                <li><a asp-page="Bio">Bio</a></li>
                <li><a asp-page="Books">Books</a></li>
                <li><a asp-page="Events">Events</a></li>                
                <li><a asp-page="AutismReads">Autism Reads</a></li>
                <li><a asp-page="Contact">Contact</a></li>
                <li><a asp-page="BookClubs">Book Clubs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        &copy; 2025 - carinoga.com
    </footer>

    <script src="https://kit.fontawesome.com/70236ac939.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>