@page
@model CariNoga.Web.Pages.AutismReadsModel
@{
    ViewData["Title"] = "Autism Reads";
}
<section>

    <h3>Autism Reads</h3>
    <article>
        <p>Autism Reads is a Twitter-based effort to broaden autism awareness beyond April and deepen it into thinking and changing and understanding. The books recommended below have been written by an autistic author, feature autistic characters, or are about autism. It is entirely subjective, largely based on books I’ve read and enjoyed, not only as the mother of a child on the spectrum, but as a book lover. Asterisks (*) indicate my top pick in each category for readers coming to the subject with little previous knowledge. If you have a suggestion, tweet it (#AutismReads and tag me, carinoga) or contact me.</p>    
    </article>
    <article>
        <h4>Fiction</h4>
        <ul class="list-with-bullets">
            <li><a target="_blank" href="http://www.amazon.com/Curious-Incident-Dog-Night-Time-Contemporaries-ebook/dp/B000FC1MCS/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1397470646&amp;sr=1-1&amp;keywords=the+curious+incident+of+the+dog+in+the+nighttime">The Curious Incident of the Dog in the Night-time</a>, novel, Mark Haddon</li>
            <li><a target="_blank" href="http://www.amazon.com/Kitchen-Daughter-Jael-McHenry-ebook/dp/B0043RSJQS/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1396620568&amp;sr=1-1&amp;keywords=the+kitchen+daughter">The Kitchen Daughter</a>, novel, Jael McHenry</li>
            <li><a target="_blank" href="http://www.amazon.com/Love-Anthony-Lisa-Genova-ebook/dp/B007EDYKSE/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1396808711&amp;sr=1-1&amp;keywords=love+anthony">Love Anthony</a>, novel, Lisa Genova (<a href="https://www.goodreads.com/review/show/505357392">My 4-star review</a>)</li>
            <li><a target="_blank" href="http://www.amazon.com/Rosie-Project-Novel-Graeme-Simsion-ebook/dp/B00BSBR9N6/ref=sr_1_3_title_1_kin?s=books&amp;ie=UTF8&amp;qid=1397665851&amp;sr=1-3&amp;keywords=autism+novel">The Rosie Projec</a>t, novel, Graeme Simsion</li>
            <li><a target="_blank" href="https://www.amazon.com/Light-Vol-Raising-Autistic-Child-ebook/dp/B01MXHGV4E/ref=sr_1_2?ie=UTF8&amp;qid=1539169519&amp;sr=8-2&amp;keywords=with+the+light">With the Light</a>*, manga, Keiko Tobe</li>
            <li><a target="_blank" href="https://www.amazon.com/Sparrow-Migrations-Cari-Noga/dp/147783088X/ref=sr_1_1?ie=UTF8&amp;qid=1539169496&amp;sr=8-1&amp;keywords=sparrow+migrations">Sparrow Migrations</a>, novel, yours truly</li>
            <li><a target="_blank" href="http://www.amazon.com/Special-Love-Krissy-Bells-ebook/dp/B00IPPI3DI/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1396546742&amp;sr=1-1&amp;keywords=A+Special+Love">A Special Love</a>, novel, Krissy Bells</li>
            <li><a target="_blank" href="ow.ly/wjVPt ">If I Could Tell You</a>, novel, Hannah Brown</li>
            <li><a target="_blank" href="https://www.amazon.com/Harmony-Novel-Carolyn-Parkhurst/dp/0399562605">Harmony</a>, Carolyn Parkhurst (<a href="https://www.goodreads.com/review/show/1743361695?book_show_action=false&amp;from_review_page=1">My 5-star review</a>)</li>
            <li><a target="_blank" href="https://www.amazon.com/Original-Ginny-Moon-Benjamin-Ludwig/dp/0778330168">The Original Ginny Moon</a> &#8211; Benjamin Ludwig</li>
        </ul>
    </article>
    <article>
        <h4>Memoir</h4>
        <ul class="list-with-bullets">
            <li><a href="http://www.amazon.com/Reason-Jump-Inner-Thirteen-Year-Old-Autism-ebook/dp/B00BVJG3CS/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1396547025&amp;sr=1-1&amp;keywords=the+reason+i+jump">The Reason I Jump</a>, Naoki Higashida</li>
            <li><a href="http://www.amazon.com/Thinking-Pictures-Expanded-Autism-Vintage-ebook/dp/B001ODEQS4/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1396885304&amp;sr=1-1&amp;keywords=thinking+in+pictures">Thinking in Pictures</a>, Dr. Temple Grandin. Consider her entire <a href="http://www.amazon.com/Temple-Grandin/e/B000AP9AQU/ref=ntt_athr_dp_pel_pop_1">body of work</a></li>
            <li><a href="http://www.amazon.com/Horse-Boy-Fathers-Quest-Heal-ebook/dp/B0023SDR02/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1397581351&amp;sr=1-1&amp;keywords=the+horse+boy+a+father%27s+quest+to+heal+his+son">The Horse Boy, A Father&#8217;s Quest to Heal His Son</a> Rupert Isaacson (also a great documentary film)</li>
            <li><a href="http://ow.ly/vIzRR">Look Me in the Eye, My Life with Asperger&#8217;s</a>, John Elder Robison. Consider his <a href="http://www.amazon.com/John-Elder-Robison/e/B001JP9V28/ref=ntt_athr_dp_pel_1">body of work</a>,</li>
            <li><a href="ow.ly/vJTBp ">Eccentricity: A Journey Through a Mind</a>, Anie Knipping</li>
            <li><a href="http://www.amazon.com/Twirling-Streets-Noticed-Growing-Undiagnosed-ebook/dp/B00CB4WZT2/ref=sr_1_1?s=digital-text&amp;ie=UTF8&amp;qid=1397830047&amp;sr=1-1&amp;keywords=%2C+Twirling+Naked+in+the+Streets+and+No+One+Noticed%3B">Twirling Naked in the Streets and No One Noticed</a>, Jeannie Davide-Rivera</li>
            <li>I<a href="http://ow.ly/wdPDI ">do in Autismland,</a> Ido Kedar</li>
            <li><a href="ow.ly/wdPeg ">Carly&#8217;s Voice,</a> Carly and Arthur Fleischmann</li>
            <li><a href="http://www.amazon.com/gp/product/0812993373/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0812993373&amp;linkCode=as2&amp;tag=paukluconinc-20">The Spark: A Mother&#8217;s Story of Nurturing, Genius and Autism</a>, Kristine Barnett</li>
        </ul>
    </article>
    <article>
        <h4>Non-Fiction</h4>
        <ul class="list-with-bullets">
            <li><a href="http://www.amazon.com/s/ref=nb_sb_ss_i_4_10?url=search-alias%3Ddigital-text&amp;field-keywords=ten%20things%20every%20child%20with%20autism%20wishes%20you%20knew&amp;sprefix=Ten+Things%2Cdigital-text%2C260">Ten Things Every Child with Autism Wishes You Knew</a>*, Ellen Notbohm (<a href="https://www.goodreads.com/review/show/1395343234">my 4-star review</a>) This is my #1 recommendation for friends and family who want to undestand more about autism. Layperson&#8217;s language and short.</li>
            <li><a href="https://www.amazon.com/Different-Key-Story-Autism/dp/0307985709/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1489862931&amp;sr=1-1&amp;keywords=in+a+different+key+the+story+of+autism">In a Different Key: The Story of Autism</a>, John Donvan and Karen Zucker (<a href="https://www.goodreads.com/review/show/1945392100">my 5-star review</a>)</li>
            <li>
                <a href="http://www.amazon.com/NeuroTribes-Legacy-Autism-Future-Neurodiversity/dp/158333467X/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1442607847&amp;sr=1-1&amp;keywords=neurotribes">NeuroTribes: The Legacy of Autism and the Future of Neurodiversity</a>, Steve Silberman
                <ul class="list-with-bullets">
                    <li><a href="http://www.vox.com/2016/1/21/10801846/autism-in-a-different-key">Review comparing In A Different Key &amp; NeuroTribes by autistic self-advocate Ari Ne&#8217;eman</a></li>
                </ul>
            </li>
            <li><a href="https://www.amazon.com/Far-Tree-Parents-Children-Identity/dp/0743236726/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1489863199&amp;sr=1-1&amp;keywords=Far+from+the+Tree">Far from the Tree: Parents, Children and the Search for Identity</a>. Andrew Solomon &#8211; examines autism, among other conditions including deafness and Down syndrome)</li>
            <li><a href="http://www.amazon.com/Early-Autism-Toddlers-Infants-Babies-ebook/dp/B00I5ETPWM?utm_source=Autism+Parenting+Newsletter&amp;utm_campaign=6fde20b112-We_are_giving_away_our_book&amp;utm_medium=email&amp;utm_term=0_a9bfd32b98-6fde20b112-95832157">Early Signs of Autism in Toddlers, Infants and Babies</a> Leslie Burby, editor of Autism Parenting Magazine (free April 9-11)</li>
            <li><a href="http://www.amazon.com/How-Talk-Autistic-Daniel-Stefanski/dp/1575423650/ref=pd_rhf_cr_s_cp_3_A93S?ie=UTF8&amp;refRID=0G3YRFTDHGRVDW473A8V">How to Talk to An Autistic Kid</a>, Daniel Stefanski</li>
        </ul>
    </article>
    <article>
        <h4>Children</h4>
        <ul class="list-with-bullets">
            <li><a href="http://www.snagglebox.com/books">Jake Rides the Rollercoaster</a> picture book, Bec Oakley</li>
            <li><a href="http://ow.ly/vZShN ">Pedro&#8217;s Whale,</a> picture book, Paula Kluth</li>
            <li><a href="http://www.amazon.com/Rules-Cynthia-Lord/dp/0439443830/ref=sr_1_3?s=books&amp;ie=UTF8&amp;qid=1397228187&amp;sr=1-3&amp;keywords=autism+fiction">Rules</a>* middle grade fiction, Cynthia Lord (2007 Newbery honor book; <a href="https://www.goodreads.com/review/show/1227271135">my 5-star review</a>)</li>
            <li><a href="http://ow.ly/vY0TR ">Somebody, Please Tell Me Who I Am</a> YA, Harry Mazer and Peter Lerangis</li>
            <li><a href="http://ow.ly/w2mJH ">A is for Autism, F is for Friend</a>, elementary age, Joanna L. Keating-Velasco</li>
            <li><a href="ow.ly/wdQcB ">My Truck is Stuck</a>, picture book, Kevin Lewis (sentimental pick, son&#8217;s favorite, nothing to do with autism)</li>
            <li><a href="http://www.amazon.com/Looking-after-Louis-Lesley-Ely/dp/0807547468/ref=cm_cr_pr_product_top">Looking After Louis,</a> grades 2-5, Lesley Ely</li>
        </ul>
    </article>
</section>
