@page
@model CariNoga.Web.Pages.BooksModel
@{
    ViewData["Title"] = "Books";
}
<article>

    <h2>Books</h2>
    <nav>
        <ul>
            <li><a class="books" id="orphan-daughter">The Orphan Daughter</a></li>
            <li><a class="books" id="sparrow-migrations">Sparrow Migrations</a></li>
            <li><a class="books" id="plover-pilgrimage">Plover Pilgrimage</a></li>
            <li><a class="books" id="road-biking-michigan">Road Biking Michigan</a></li>
            <li><a class="books" id="chicken-soup-for-the-wine-lovers-soul">Chicken Soup for the Wine Lover’s Soul</a></li>
            <li><a class="books" id="in-the-news">In the news</a></li>
        </ul>
    </nav>

    <article class="book-articles" id="orphan-daughter-article" hidden>
        <h3>The Orphan Daughter</h3>

        <a href="https://www.amazon.com/Orphan-Daughter-Cari-Noga/dp/1503901327/ref=sr_1_1?s=books&ie=UTF8&qid=1520180577&sr=1-1&keywords=the+orphan+daughter">
            <div class="polaroid">            
                <img src="~/images/the-orphan-daughter.jpg" alt="The Orphan Daughter book cover." />            
                <div>
                    <p>Order in paperback, Kindle or audio on Amazon.</p>
                </div>
            </div>
        </a>

        <aside>
            <h4>Press Kit</h4>
            <a class="download" href="~/downloads/OrphanDaughterPressKit.zip" name="press-kit-download" title="Download press kit" download id="press-kit-download">
                <span class="fa-solid fa-download"></span>
                Download
            </a>
            <br />
            <br />
            Includes:
            <ul>
                <li>Novel news release (April 9, 2018)</li>
                <li>Book cover (color)</li>
                <li>Author headshot (color or black and white)</li>
            </ul>
        </aside>

        <article>
            <h4>Author Q &amp; A</h4>

            <h5>This is your second novel. Was it easier?</h5>
            <p>No! It was slower, too  – almost three years from first words on the page in November 2013 to submitting to my editor in August 2016, an offer that November, and then another year and a half of enduring the publishing wait. (Sparrow took two years to write and revise and another 6 months to self-pub.) Admittedly, it was Sparrow’s acquisition and revision in 2014 that caused me to set aside TOD for several months. Still, it took longer as I experimented with genre and tone. At one point, I was going for a thriller-esque plot. I wound up being true to my strengths and focusing on the relationships between characters.</p>
        
            <h5>You describe Aunt Jane as “prickly.” Why write a character the risks engendering reader dislike?</h5>
            <p>Empathizing, not liking, is the most important emotion an author must create between a character and reader. If a character’s motivations are clear, readers are usually able to move beyond personal dislike of particular actions. Oftentimes its said of movies that viewers need characters to root for. I think that’s mostly true. Perhaps more true is readers/viewers need an outcome to root for – and that’s very clear in The Orphan Daughter.</p>
        
            <h5>How did you write the Spanish dialogue and vocabulary?</h5>
            <p>I have basic fluency in Spanish, and since the English-speaking characters speak broken Spanish, that sufficed with Google translate as backup. It’s a tricky line. Too much foreign language trips up readers. Too little and it’s not purposeful. I was going for the Goldilocks amount, which I think enriches story and setting sparsely, not weighing it down the way excessive description can. I was fortunate to find two fluent beta readers, and the publisher conducted a thorough Spanish language edit.</p>

            <h5>How would you compare and contrast this novel to Sparrow Migrations?</h5>
            <p>Both are resilience stories of contemporary, unconventional families. Both feature parent-child relationships, or proxies for that relationship. Setting is much more vivid and important in The Orphan Daughter. Its cast of characters is also much smaller; two primary and one secondary (Sparrow had four primary and four secondary) so I believe readers come to know the characters more intimately.</p>        
        </article>

        <article>
            <h4>Book club questions – The Orphan Daughter</h4>
            <div class="spoiler-alert">
                <span class="fa-solid fa-triangle-exclamation"></span>
                Warning, spoilers!
            </div>
            <ul class="list-with-bullets">
                <li>Lucy doesn’t think Jane acts “motherish.” What do you think of Jane as a mother? Did Gloria and Luis make the right choice when they selected her to be Lucy’s guardian?</li>
                <li>As she returns from meeting Lucy, Jane thinks: “Beginnings come from endings. All you can do is try to hang onto everything so it doesn’t get lost along the way.” Do you think we ever resolve grief, or does it continue to impact our lives? Is it possible to let go? How have grief experiences affected your life?</li>
                <li>What do you think about Jane suspecting Juan and Esperanza as the jewelry thieves? Do unflattering stereotypes have a place in literature, if only for the sake of exposing them, or not?</li>
                <li>Do you think Juan and Esperanza have a human or moral right to stay in the United States? Why or why not?</li>
                <li>After talking to her son Matt at Christmas, Jane feels absolved of her maternal guilt. Do you think she is justified? Why is her recollection of Matt’s childhood so different from his own? Whose is correct?</li>
                <li>Had the Livingstons not discovered Lucy’s runaway plan, do you think she would have boarded the plane for Mexico instead of returning to Traverse City?</li>
                <li>Lucy’s grass “phobia” is really a form of magical thinking. Have you ever developed an irrational belief like this? How did you overcome it?</li>
                <li>Would Lucy have been happier with her Mexican relatives? What do you think happens to Bonita and Graciela?</li>
                <li>When the spring frost hits, Jane thinks that “the bigger picture (of climate change) feels a lot less urgent” than the consequences of a season without work for the migrant community. Can short-term and long-term ramifications of our decisions ever be balanced?</li>
                <li>After living in California, Alaska and Texas, Jane finds that the rhythm of living in a place with four seasons (Michigan) is instrumental to her mental well-being. Do you find natural or seasonal rhythms and patterns to be reassuring or comforting? Which ones? Why?</li>
            </ul>
        </article>

    </article>

    <article class="book-articles" id="sparrow-migrations-article" hidden>
        <h3>Sparrow Migrations</h3>
        <a name="sparrow-migrations-link" Target="_blank" title="Sparrow Migrations Union Lake edition link" href="https://www.amazon.com/Sparrow-Migrations-Cari-Noga/dp/147783088X/ref=sr_1_1?s=books&ie=UTF8&qid=1520304838&sr=1-1&keywords=sparrow+migrations">
            <div class="polaroid">
                <img src="~/images/sparrow-migrations-union-lake-cover.jpg" alt="Sparrow Migrations Union Lake edition book cover." />
                <div>
                    <p>This is the second edition of my debut novel, released in 2015 by Lake Union Publishing.</p>
                </div>                
            </div>
        </a> 
        <a name="sparrow-migrations-link2" Target="_blank" title="Sparrow Migrations Union Lake edition link" href="https://www.amazon.com/Sparrow-Migrations-Cari-Noga/dp/147783088X/ref=sr_1_1?s=books&ie=UTF8&qid=1520304838&sr=1-1&keywords=sparrow+migrations">
            
        <div class="polaroid">
            <img src="~/images/sparrow-migrations-self-published-cover.jpg" alt="Sparrow Migrations self pubished edition book cover." />
            <div>
                <p>This is the original edition of debut novel, which I self-published in 2013.</p>
            </div>            
        </div>
        </a>
        <article>
            <p>My debut novel has its own Cinderella story. Like many new authors, I self-published after first trying and failing at the “traditional” route – find an agent who finds you a publisher. Then 18 months after I self-pubbed, Lake Union Publishing approached me with an acquisition offer.</p>
        </article>
        <article>
            <h4>Book club questions – Sparrow Migrations</h4>
            <div class="spoiler-alert">
                <span class="fa-solid fa-triangle-exclamation"></span>
                Warning, spoilers!
            </div>
            <ul class="list-with-bullets">
                <li>Do you agree with Deborah’s decision not to have genetic testing before getting pregnant? Why or why not?</li>
                <li>What do you think about the portrayal of the female characters vs. the male characters?</li>
                <li>Despite significant strains, both of the heterosexual relationships in Sparrow Migrations are resolved, while the lesbian relationship is not. Why do you think that is the case? What do you think about that as a reader? Is it fair?</li>
                <li>Did the novel change any perceptions you held about autism? How so? Why do you think Robby is an only child?</li>
                <li>Does the likelihood/risk of special needs factor into whether you would have children, as it does for Christopher?</li>
                <li>What do you think about the depiction of Christianity in the novel? Which character better upheld Christian ideals, Richard or Brett? Why?</li>
                <li>What meaning do you derive from the title?</li>
            </ul>
        </article>
        <article>
            <h4>Reviews</h4>
            <ul>
                <li><a target="_blank" href="http://readlearnwrite.com/2015/07/bookreviewsinbriefcari-nogas-sparrow-migrations/">Read.Learn.Write website (7/2/15)</a></li>
                <li><a target="_blank" href="http://www.amazon.com/Sparrow-Migrations-Cari-Noga/dp/147783088X/ref=sr_1_1?ie=UTF8&amp;qid=1440367648&amp;sr=8-1&amp;keywords=sparrow+migrations+cari+noga">Amazon reader reviews &#8211; average 4.5/5 stars</a></li>
                <li><a target="_blank" href="http://www.amazon.co.uk/Sparrow-Migrations-Cari-Noga/dp/147783088X/ref=sr_1_1?ie=UTF8&amp;qid=1440367743&amp;sr=8-1&amp;keywords=sparrow+migrations">Amazon UK reader reviews</a></li>
                <li><a target="_blank" href="http://aspiewriter.com/2014/05/book-review-sparrow-migrations-not-just-the-story-of-one-autistic-boy.html">Aspie Writer blog</a></li>
                <li><a target="_blank" href="http://booksinnorthport.blogspot.com/2013/05/guest-book-review-sparrow-migrations.html">Books in Northport &#8211; blog of Dog Ears Books</a></li>
                <li><a target="_blank" href="https://www.goodreads.com/book/show/24602308-sparrow-migrations">Goodreads reviews for Sparrow Migrations </a>(avg. 3.9 stars/5)</li>
            </ul>
            <p>Read the interview naming <em>Sparrow Migrations</em> the <a href="http://www.icontact-archive.com/s2qh3_mmqxmJvO4YEK6LUzzdcx8UMnWF?w=4">winner of the Spring 2013 ForeWord Firsts debut fiction contest</a></p>
            <div class="polaroid">
                <img alt="image of Horizon Books newsletter item" src="~/images/horizon-books-newsletter-excerpt.png" />
                <div>
                    <p>From Horizon Books June 2013 newsletter</p>
                </div>
            </div>

            <a name="freebooksy-link" title="Freature Author Freebooksy link" href="http://www.freebooksy.com/?utm_source=website&utm_medium=badge&utm_campaign=featured-author">
                <img alt="Freature Author Freebooksy image" src="~/images/free-booksy-featured-author-badge.gif" />
            </a>
            
            <a name="kindle-books-review-link" title="Best Kindle Books Awards link" href="https://www.thekindlebookreview.net/2014-kindle-book-awards-b/">
                <img alt="Best Kindle Books Awards image" src="~/images/kbr-semifinalist-award-badge.png" />
            </a>            
            
            <a name="fussy-librarian-link" title="Fussy Librarian link" href="http://www.thefussylibrarian.com/">
                <img alt="Fussy Librarian image" src="~/images/fussy-librarian-word-seal-of-approval.jpg" />
            </a>
        </article>
    </article>


    <article class="book-articles" id="plover-pilgrimage-article" hidden>
        <h3>Plover Pilgrimage – an excerpt</h3>
        <article>
            <img alt="Plover Pilgrimage cover image" src="~/images/plover-pilgrimage-cover.jpg" />
        </article>
        <article>
            <a class="excerpt" target="_blank" name="plover-pilgrimage-kindle-link" title="Plover Pilgrimage Kindle editiion link" href="http://www.amazon.com/Plover-Pilgrimage-ebook/dp/B00BXW6V0C/ref=sr_1_1?ie=UTF8&qid=1364256295&sr=8-1&keywords=Plover+Pilgrimage">
                <span class="fa-solid fa-book"></span>
                Kindle e-book: $0.99
            </a>
            <p>In this excerpt from Sparrow Migrations, Robby Palmer, a 12-year-old boy with autism and a percolating passion for all things avian, is on his way to northern Michigan’s Sleeping Bear Dunes National Lakeshore to see the piping plover. On the remote beaches where the endangered plover nests, Robby, his parents and a patient park ranger discover the magic in a rare bird—and in a rare boy.</p>
            <p>Cover and interior illustrations by Glenn Wolff.</p>
            <figure>
                <blockquote><p>The story Cari Noga tells is honest and hopeful, the arc of the story is quietly huge and significant. It’s a wonderful story that will make your heart grow.</p></blockquote>
                <figcaption>—Lynne Rae Perkins, Newbery Medal winning author of <cite>Criss Cross</cite> and other works</figcaption>
            </figure>
        </article>

    </article>

    <article class="book-articles" id="road-biking-michigan-article" hidden>
        <h3>Road Biking Michigan</h3>
        <p>A guidebook to the 40 best bike rides in the state. Individual rides range from 8 to 89 miles and are located from the tip of the Keweenaw Peninsula in the U.P. to southwest Michigan’s fruit belt to Detroit’s Belle Isle.</p>
        <p>Paperback edition with mile-by-mile trip directions, maps, photos and tourist information for each ride now available; $14.95. <a target="_blank" name="buy-on-amazon-link" title="Buy on Amazon" href="http://www.amazon.com/Road-Biking-Michigan/dp/0762728035/ref=sr_1_1?s=books&ie=UTF8&qid=1363457040&sr=1-1&keywords=Road+Biking+Michigan">Buy on Amazon</a></p>
        <article>
            <strong>Riders and reviewers say:</strong><br /><br />
            <figure>
                <figcaption>Otto Wheeler, Austin, Texas:</figcaption>
                <blockquote><p>our book was extremely helpful and I had a wonderful time riding in Michigan. I rode 220 miles and enjoyed them all. Beautiful country, wonderful weather and great directions. I couldn’t have asked for more.</p></blockquote>
            </figure>
            <figure>
                <figcaption>Traverse, Northern Michigan’s Magazine:</figcaption>
                <blockquote><p>Noga knows the tip of the mitt like the back of her handlebars and it shows…she also does downstaters proud with a heap of scenic tours just a quick spin from the suburbs.</p></blockquote>
            </figure>
        </article>
    </article>    
    
    <article class="book-articles" id="chicken-soup-for-the-wine-lovers-soul-article" hidden>
        <h3>Chicken Soup for the Wine Lover’s Soul</h3>
        <p>Chicken Soup and wine? Why not? My essay, “All the Comforts of Home,” appears in <cite>Chicken Soup for the Wine Lover’s Soul</cite>, one of the many in the popular inspirational book series. In it I share the story of the Nalgene full of merlot that I toted on my first backpacking trip as a newlywed.</p>
        <p>A great gift for any wine lover.</p>
        <a target="_blank" title="Buy on Amazon" name="chicken-soup-for-the-wine-lovers-soul-link" href="http://www.amazon.com/Chicken-Soup-Wine-Lovers-Soul/dp/0757306314/ref=sr_1_1?s=books&ie=UTF8&qid=1363457081&sr=1-1&keywords=chicken+soup+for+the+wine+lovers+soul">Buy on Amazon</a>
    </article>    

    <article class="book-articles" id="in-the-news-article" hidden>
        <h3>In the news</h3>
        <article>
            <span class="fa-solid fa-newspaper"></span>
            <h4>The Orphan Daughter</h4>
            <dl>
                <dt>Notable Michigan books</dt>
                <dd><a target="_blank" href="http://www.record-eagle.com/news/gt_scene/notable-michigan-books-june/article_882999f7-437c-51f7-b943-288877feea34.html">GT Scene summer issue</a></dd>

                <dt>Northern Michigan bestseller list, 7 /1/18</dt>
                <dd><a target="_blank" href="http://www.record-eagle.com/news/local_news/best-selling-books/article_d8934ed9-1bd4-58b1-b9a7-3b820864192c.html">No. 1 in paperback fiction, as reported to Traverse City Record-Eagle, sixth week to make list</a></dd>

                <dt>Facebook Live</dt>
                <dd><a target="_blank" href="https://www.facebook.com/weavinginfluence/videos/1747814205254164/?inf_contact_key=15152fed8427c6094a61020aa9251039677404314accc07a108a911f8c41d98c">Chat on writing, publishing and more with Hometown Reads, June 2018</a></dd>

                <dt>Hybrid Author</dt>
                <dd><a target="_blank" href="http://hybridauthorpodcast.com/episode-30-hybrid-publishing-and-resilience-with-cari-noga/">Hybrid Author podcast, May 2018</a></dd>

                <dt>ational Writers Series Author Next Door</dt>
                <dd>National Writers Series Author Next Door feature, May 2018</dd>
            </dl>
        </article>
        <article>
            <span class="fa-solid fa-newspaper"></span>
            <h4>Sparrow Migrations</h4>
            <dl>
                <dt>Author Interview</dt>
                <dd><a target="_blank" href="http://readlearnwrite.com/2015/07/authorinterviewcarinoga/">Read.Learn.Write – Words Unlock Worlds, 7 /2/15)</a></dd>

                <dt>Are You Listening?</dt>
                <dd><a target="_blank" href="https://www.forewordreviews.com/blog/posts/are-you-listening-indie-authors-make-aural-arguments-for-audiobooks/">Indie Authors Make Aural Arguments for Audio Books (ForeWord Reviews, June 17, 2015)</a></dd>

                <dt>Huffington Post, August 20, 2014</dt>
                <dd><a target="_blank" href="http://www.huffingtonpost.com/david-henry-sterry/selfpublishing-literary-f_b_5695364.html">Self-publishing literary fiction: The good, the bad and the ugly (Huffington Post, August 20, 2014)</a></dd>

                <dt>Detroit Free Press, June 8, 2014</dt>
                <dd><a target="_blank" href="http://www.freep.com/article/20140608/FEATURES01/306080025/Self-published-books-authors-writers">Technology allows more writers to self-publish</a></dd>

                <dt>ForeWord (August 1, 2013)</dt>
                <dd><a target="_blank" href="http://www.icontact-archive.com/s2qh3_mmqxmJvO4YEK6LUzzdcx8UMnWF?w=4">ForeWord Reviews names Sparrow Migrations winner of its Spring 2013 ForeWord Firsts debut fiction contest (August 1, 2013)</a></dd>

                <dt>Traverse City Record-Eagle Best Sellers</dt>
                <dd><a target="_blank" href="http://record-eagle.com/northernliving/x63036339/Best-Sellers-04-21-2013">Northern Michigan paperback fiction bestseller list, April 21, 2013 »</a></dd>

                <dt>Traverse City Record-Eagle, April 14, 2013</dt>
                <dd><a target="_blank" href="http://record-eagle.com/features/x1413939468/Writer-is-on-a-roll-this-year">Traverse City writer Noga on a roll this year</a></dd>

                <dt>IPR (NPR affiliate) March 27, 2013</dt>
                <dd><a target="_blank" href="http://ipr.interlochen.org/michigan-writers-air/episode/michigan-writers-air-march-272013/2013-03-27">Michigan Writers interview with Aaron Stander</a></dd>

                <dt>Writers Minute appearance, TV 7 &amp; 4 (NBC affiliate) March 26, 2013</dt>
                <dd><a target="_blank" href="https://youtu.be/bTsOhAwomcs">Watch on YouTube</a></dd>

                <dt>Stuart Duncan&#8217;s &#8220;Autism From a Father&#8217;s Point of View (April 8, 2013)</dt>
                <dd><a target="_blank" href="http://www.stuartduncan.name/autism/novel-about-autistic-boy-who-loves-birds-aims-to-advocate-too/">Guest post</a></dd>

                <dt>Aspie Writer (Jeannie Davide-Rivera</dt>
                <dd><a target="_blank" href="http://aspiewriter.com/2014/06/guest-post-autism-mom-and-author-of-sparrow-migrationscari-noga.html">Guest post</a></dd>

            </dl>
        </article>
    </article>

</article>

@section Scripts{
    <script type="text/javascript" src="~/js/books.js" asp-append-version="true"></script>
}