@page
@model CariNoga.Web.Pages.BookClubsModel
@{
    ViewData["Title"] = "Book Clubs";
}
<section>

    <h2>Book Clubs</h2>
    <article>
        <p>Is your book club reading Sparrow Migrations or The Orphan Daughter? Drop me a note at cari@carinoga.com. I’d be happy to join your discussion in person or via Skype. Or send a picture, and I’ll feature here.</p>
    </article>
    
    <article class="gallery">
        <header>Photo Gallery</header>
        <section id="image-gallery" data-galleryitems="@Model.BookClubGalleryItems">
            <img id="current-bookclub" data-index="0" data-file="book-club-3.jpg" src="~/images/book-club-3.jpg" />
        </section>
        <footer id="gallery-pagination">
            <button id="btn-previous" disabled>
                <span class="fa-solid fa-arrow-left"></span>
                Previous
                </button>
            <div>
                <div id="gallery-dots"></div>
                <span id="page"></span>
            </div>
            <button id="btn-next">
                Next
                <span class="fa-solid fa-arrow-right"></span>
            </button>
        </footer>
    </article>
</section>

@section Scripts{
    <script type="text/javascript" src="~/js/book-clubs.js" asp-append-version="true"></script>
}