@page
@model CariNoga.Web.Pages.BooksModel
<article>

    <h2>Books</h2>
    <nav>
        <ul>
            <li><a href="#">The Orphan Daughter</a></li>
            <li><a href="#">Sparrow Migrations</a></li>
            <li><a href="#">Plover Pilgrimage</a></li>
            <li><a href="#">Road Biking Michigan</a></li>
            <li><a href="#">Buy</a></li>
        </ul>
    </nav>

    <article>
        <h3>The Orphan Daughter</h3>

    </article>

    <article>
        <h3>Sparrow Migrations</h3>

    </article>

    <article>
        <h3>Plover Pilgrimage</h3>

    </article>

    <article>
        <h3>Road Biking Michigan</h3>

    </article>    
    
    <article>
        <h3>Buy</h3>

    </article>

</article>

@section Scripts{
    <script type="text/javascript" src="~/js/books.js" asp-append-version="true"></script>
}