@page
@model CariNoga.Web.Pages.BooksModel
<article>

    <h2>Books</h2>
    <nav>
        <ul>
            <li><a class="books" id="orphan-daughter" href="#">The Orphan Daughter</a></li>
            <li><a class="books" id="sparrow-migrations" href="#">Sparrow Migrations</a></li>
            <li><a class="books" id="plover-pilgrimage" href="#">Plover Pilgrimage</a></li>
            <li><a class="books" id="road-biking-michigan" href="#">Road Biking Michigan</a></li>
            <li><a class="books" id="buy" href="#">Buy</a></li>
        </ul>
    </nav>

    <article class="book-articles" id="orphan-daughter-article" hidden>
        <h3>The Orphan Daughter</h3>

    </article>

    <article class="book-articles" id="sparrow-migrations-article" hidden>
        <h3>Sparrow Migrations</h3>

    </article>

    <article class="book-articles" id="plover-pilgrimage-article" hidden>
        <h3>Plover Pilgrimage</h3>

    </article>

    <article class="book-articles" id="road-biking-michigan-article" hidden>
        <h3>Road Biking Michigan</h3>

    </article>    
    
    <article id="buy-article" hidden>
        <h3>Buy</h3>

    </article>

</article>

@section Scripts{
    <script type="text/javascript" src="~/js/books.js" asp-append-version="true"></script>
}