@page
@model CariNoga.Web.Pages.ContactModel
<section>

    <h2>Contact </h2>    
    <article>
        <span class="fa-solid fa-envelope"></span>
        <p>Thanks for reading! Sign up for my author newsletter to find out about future books. Your email address will never be shared. </p>
        <form method="post">
            <label for="mc4wp_email">Email address: </label>
            <input type="email" id="mc4wp_email" name="EMAIL" required placeholder="Your email address" />
            <button type="submit">Sign up</button>
            <input type="text" name="_mc4wp_required_but_not_really" value="" hidden />
            <input type="hidden" name="_mc4wp_timestamp" value="1684626749" />
            <input type="hidden" name="_mc4wp_form_submit" value="1" />
            <input type="hidden" name="_mc4wp_form_instance" value="1" />
            <input type="hidden" name="_mc4wp_form_nonce" value="9c6fca24b7" />
        </form>
    </article>

</section>
