@page
@model CariNoga.Web.Pages.EventsModel
<section>

    <h3>Events</h3>
    <article>
        <strong>May 2018</strong>
        <ul class="list-with-bullets">
            <li>Saturday, May 5 – Launch party, 4-5:30 p.m. <a target="_blank" href="http://www.horizonbooks.com/event/book-launch-party-cari-noga-orphan-daughter">Horizon Books</a>’ Shine Café, 243 E. Front St., Traverse City, Mich.</li>
            <li>Saturday, May 12 – Book signing and author meet &amp; greet, 1-3 p.m., <a target="_blank" href="https://www.brilliant-books.net/">Brilliant Books</a>, 118 E. Front St., Traverse City</li>
            <li>Wednesday, May 23 – Reading, beta reader introductions, Q&amp;A and book signing, 6:30 p.m., <a target="_blank" href="https://www.tadl.org/event/cari-noga-library-book-launch/">Traverse Area District Library</a> Woodmere branch, McGuire Room, Traverse City</li>
        </ul>
        <strong>August 2018</strong>
        <ul class="list-with-bullets">
            <li>Monday, Aug. 20 &#8211; Reading/presentation/signing, 7-8 p.m., <a target="_blank" href="http://www.uproc.lib.mi.us/pwplinfo/">Peter White Public Library</a>, 217 N. Front St., Marquette, Mich.</li>
        </ul>
    </article>

</section>
