@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>

    <span>
        <i class="fa-solid fa-envelope"></i>
    </span>
    
    <h3>Author newsletter signup</h3>
</section>
