@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page";
}

<img alt="Main page cover image" id="index-main" src="~/images/index-bookmarks.jpg" />
 
<section class="index-left">
    <a href="https://us3.list-manage.com/subscribe?u=39610d39f36653c3a0fc91491&id=4c8f82a62f" target="_blank">
    <span class="fa-solid fa-envelope fa-5x"></span>
        <h3>Author Newsletter Signup</h3>        
    </a>
    <p>News and reading recommendations 4-6 x/year. No spam, never, no way.</p>

</section>

<section class="index">
    <a asp-page="/BookClubs">
    <span class="fa-solid fa-book fa-5x"></span>
        <h3>Book Clubs</h3>
    </a>
    <p>Send me a pic of your gathering — or an invite! I Skype. Check out discussion questions for both The Orphan Daughter and Sparrow Migrations here, too.</p>
</section>

<section class="index-right">
    <a href="https://www.amazon.com/Orphan-Daughter-Cari-Noga/dp/1503901327/ref=sr_1_1?ie=UTF8&qid=1532031399&sr=8-1&keywords=the+orphan+daughter&dpID=517wQ5cr03L&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=srch#customerReviews" target="_blank">

    <span class="fa-solid fa-pencil fa-5x"></span>
    <h3>Write a revew</h3>
    </a>

    <p>What did you think about my novels? Let other readers know by submitting a review on Goodreads or Amazon.</p>
</section>
